/** ------------------- Footer ------------------**/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:  20px;
}
.subs_thanks{
    display: none;
}
.foot_cont{
    margin-top: 20px;
}
#subscribe_form{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.foot_cont h4{
    font: bolder 16px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
}
#subscribe_form .required{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
   gap: 0px;
}
#subscribe_form button{
    background-color: var(----skyblue);
    cursor: pointer;
}
h6{
    font-size: 12px;
    margin-bottom: 5px;
}
.scl_md{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px
}
.scl_md img{
 width: 28px;
}

footer p{
    font: bold 14px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
}