@import url(body.css);
@import url(header.css);
@import url(main.css);
@import url(index.css);
@import url(modal.css);
@import url(blogpost.css);
@import url(specific.css);
@import url(comment.css);
@import url(contact.css);
@import url(feedback.css);
@import url(loader.css);
@import url(about.css);
@import url(footer.css);


@font-face {
    font-family: "Roboto", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Serif&family=Roboto:wght@300&display=swap") format("woff2");
}

:root{
    --light-orange: #FBE8E6;
    --light-pink: #f4976c;
    --dark-blue: #303c6c;
    ----skyblue: #b4dfe5;
    --light-blue: #d2fdff;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/*------------------ Media Queries ---------------*/

@media screen and (max-width: 1000px) {
    body{
        padding: 0 15%;
    }
    .site_logo img {
        max-width: 25%;
        max-height: 26%;
    }
    
}


@media screen and (max-width: 850px) {
    .hdr_nav{
        display: none;
    }
    .ham_menu img{
        display: block;
    }
    #hmbgr:checked + .hdr_nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--light-orange);
        right: -7px;
        top:-15px;
        place-items: flex-end;
        box-shadow: -7px 6px 7px #f9e6e4;
        z-index: 2;
    }
    .l_screen{
        display: none;
    }
    .s_screen{
        display: flex;
    }
    .hdr_nav li a{
        font-size: 17px;;
    }
    .hdr_cntr::after{
        content: "";
        width: 10px;
    }
    .hdr_cntr{
        flex-direction: row-reverse;
    }
    body{
        padding: 0;
    }
    h1{
        text-align: center;
        font-size: 20px;
    }
    .blg_title{
        text-align: left;
        font-size: 20px;
    }
    .usr_prfl_pc img {
        width: 62px;
    }

    .blg_cta{
        margin-right: 12%;
    }
    .spcfc_mn_div{
        margin: 10%;
    }
    #modal{
        margin-top: 20%;
    }
    .featured_image img {
        width: 76vw;
    }
}

@media screen and (max-width: 600px) {
    .srch_br input {
        width: 200px;
    }
    .srch_br {
        width: 200px;
    }
    .hdr_cntr::after{
        width: 35px;
    }
    .ham_menu img{
        width: 25px;
    }
    .hdr_nav li a{
        font-size: 13px;;
    }
    .ndx_mn_pst_cntnr{
        max-width: 100%;
    }
    .ndx_mn_div h1, .blg_title{
        font-size: 16px;
    }
    .usr_prfl_pc img {
        width: 50px;
    }
    .blg_pst_hd h4 {
        font-size: 16px;
    }
    .blg_cta{
        margin-right: 26%;
    }
    .spcfc_mn_div{
        margin: 8%;
    }
    .feat_img img {
        height: 87px;
    }
    .cntct_mn_div {
        margin: 20px;
        padding: 0px;
    }
    .blg_post_cont .ldr{
        top: 100px;
    }
    .user_info{
        padding:10px
    }
    .user_info h2, .user_info h3{
        font-size: 16px;
    }

    .user_info p{
        font-size: 12px;
    }
    .feat_cont button img {
        width: 94%;
        height: 150px;
    }
    .featured_image img {
        width: 67vw;
    }
    .publish_date, .date_date{
        font-size: 10px;
    }
    .mn_div {
        padding: 0 4%;
    }
    #subscribe_form .required input{
        max-width: 150px;
    }
}

@media screen and (max-width: 360px){
    .srch_br input {
        width: 155px;
        right: 10px;
    }
    .srch_bttn_lbl{
        right: 38px;
        top: 2px;
    }
    .feat_cont button img{
        width: 80%;
        height: 100px;
    }
    .feat_cont button {
        width: 80%;
    }
    .usr_prfl_pc img {
        width: 35px;
    }
    .auth_date h4,  h1, .blg_title {
        font-size: 14px;
    }
    .publish_date, .date_date {
        font-size: 8px;
    }
    .blg_spcfc_pst .verse, .required label, .required input, #add_comment textarea,.pst_cmmnt h4  {
        font-size: 10px;
    }
    .blg_spcfc_pst .bible h2, .cmmnts_sctn h2, .blg_pst_hd h4 {
        font-size: 12px;
    }
    .parag h1, .parag h2, .parag h3, .parag strong,  .blg_paragraph h3,.blg_paragraph strong{
        font-size: 13px;
    }
    .parag p, .pst_cmmnt p{
        font-size: 11px;
    }
    .blg_title{
        margin: 10px 5px 0 5px;
        padding: 5px;
    }
    .blg_paragraph{
        padding: 0px;
        font-size: 10px;
    }
    .required {
        margin-bottom: 5px;
        gap:2px;
    }
    #cntct_form textarea {
        width: 235px;
        height: 145px;
    }
    .abt_mn{
        padding: 10px;
    }
    .abt_main_cntnr {
        margin: 15px;
    }
    .abt_mn img {
        max-width: 100px;
    }
    .feat_cont button img {
        width: 90%;
        height: 100px;
    }
    #feedback_form textarea{
        width: 235px;
        height: 200px;
    }
    .featured_image img {
        width: 58vw;
        height: 72vh;
    }
    #subscribe_form .required input{
        max-width: 100px;
    }
    #subscribe_form button{
        font-size: 10px;
    }
    .sld_lf_cn img, .sld_rght_cn img{
        width: 10px;
    }
}