@font-face {
    font-family: "Roboto", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Serif&family=Roboto:wght@300&display=swap") format("woff2");
}

:root{
    --light-orange: #FBE8E6;
    --light-pink: #f4976c;
    --dark-blue: #303c6c;
    ----skyblue: #b4dfe5;
    --light-blue: #d2fdff;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/**----------------- Body ---------------**/

body{
    display: flex;
    flex-direction: column;
    background-color: var(--light-orange);
    padding: 0 20%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
h1{
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.feedback{
    display: flex;
    flex-direction: column;
    position: fixed; 
    bottom: 15%;
    right: 1%;
    align-items: center;
}
.feedback img {
    position: fixed;
    bottom: 10%;
    right: 1%;
    width: 30px;
}
.fdbck_p{
    display: none;
}
.feedback a:hover + .fdbck_p{
    display: block;
    position: relative;
    margin:0px;
    font : bold 10px "Segoe UI";
    color: black;
    background-color: var(--light-blue);
}
/**----------- Header -----------------**/

.site_logo img{
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 20%;
    max-height: 40%;
}
.hdr_cntr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

header li{
    list-style: none;
    padding-right: 20px;
}

header li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black ;
}

.active{
    text-decoration: underline;
}

.srch_br{
    position: relative;
    height: 25px;
    width: 250px;
}

.srch_bttn_lbl{
    position: absolute;
    top: 1px;
    height: 1px;
    width: 1px;
    right: 25px;
    border: none;
}

#srch_bttn{
    display: none;
}

.srch_bttn_lbl img{
    height: 17px;
    width: 20px;
}

.srch_br input{
    position: absolute;
    border: 1px var(--light-pink) solid;
    border-radius: 20px;
    padding:5px;
    font-size: 12px;
    width: 250px;
    padding-right: 35px;
}

#hmbgr{
    display: none;
}

#hmbgr:checked + .hdr_nav{
    display: block;
}


.ham_menu img{
    display: none;
    width: 35px;
}

/** -------------------- Main -------------------**/

.blg_main, .cntct_main, .abt_main{
    margin-top:30px;
}

/*--------------------- Index Main ---------------**/
.mn_div{
    display: flex;
    flex-direction: column;
    padding: 0 8%;
}

.ndx_mn_cntnr{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ndx_mn_cntnr, .blg_mn_cntnr, .spcfc_mn_div, .cntct_mn_div, .abt_main_cntnr{
    display: flex;
    position: relative;
    background-color: var(--dark-blue);
    box-shadow: 4px 4px 20px var(--dark-blue);
    border-radius: 20px;
    min-height: 40vh;
    align-items: center;
}

/*----------------- Index Post container ------------*/

.ndx_mn_pst_cntnr{
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 20px;
    padding: 10px;
    background-color: var(--light-blue);
    box-shadow: 4px 4px 20px var(--light-blue);
    max-width: 40%;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

.post_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.sld_lf_cn, .sld_rght_cn{
    position: absolute;
    margin: 5px;
    border: none;
    background-color: transparent;
}
.sld_lf_cn{
    left:-5px;
}
.sld_rght_cn{
    right: -5px;
}

.sld_lf_cn img, .sld_rght_cn img{
    width: 20px;
}

.hide , .blg_hide, .hideBtn{
    display: none;
}
.pst_hd, .bible, .pst_cta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pst_hd h1{
    text-align: center;
}

.ndx_mn_pst_cntnr .pst_hd h4{
    font: 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: italic;
    margin: 2px;
}

.ndx_mn_pst_cntnr .bible h2{
    margin-top: 0;
    align-self: flex-end;
    font: bold italic 14px 'Segoe UI';
}

.usr_prfl_pc img{
    border-radius: 50%;
}
.usr_prfl_pc{
    border: none;
    background-color: transparent;
}

.date{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: flex-end;
    gap: 5px;
}

.publish_date, .date_date{
    font: 12px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.publish_date{
    font-weight: bold;
}

.ndx_mn_pst_cntnr .verse{
    font: italic 14px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 10%;
    margin: 0;
}

.rd_nw_cta{
    width:125px;
    padding: 2px;
    background-color: var(--dark-blue);
    border-radius: 20px;
    color: var(--light-blue);
    text-align: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
}

/*------------------- Modal ------------------------------*/

#modal, #spcfc_modal, #abt_modal{
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 30px;
    width: 80%;
    height: fit-content;
    backdrop-filter: blur(15px);
    z-index: 5;
}
#spcfc_modal, #abt_modal{
    position: absolute;
    width: 95%;
}
#abt_modal img{
    max-width: 100%;
    border-radius: 0%;
}
.close{
    display: inline-flex;
    font: bolder 28px "Segoe UI";
    margin-top: 20px;
    background-color: var(--dark-blue);
    align-self: flex-end;
}
.user_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-pink);
    opacity: 0.7 ;
    width: fit-content;
    padding: 30px;
    color: var(--dark-blue);
}
.me_cntnt{
    content: " ";
    width: 28px;
}
.user_info img{
   min-width: 20%;
}
.user_info h2,
.user_info h3 {
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.user_info p{
    font:500 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 10%;
    margin-top: 0px;
}

/*---------------- Blog Post Main Container --------------*/

.blg_mn_pst_cntnr, .search_cont{
    display: flex;
    flex-direction: row;
    margin: 20px 20px 0 20px;
    padding: 10px;
    background-color: var(--light-blue);
    box-shadow: 4px 4px 20px var(--light-blue);
}

.blg_mn_cntnr{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blg_paragraph{
    text-indent: 10%;
    padding: 10px;
    max-height: 20vh;
    overflow: hidden;

}


.blg_paragraph p, .blg_paragraph h3{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

hr{
    border :solid var(--light-pink);
    margin: 0;
}

.blg_pst_hd{
    margin-right: 8px;
    text-align: center;
}
.blg_pst_hd h4{
    margin: 0;
}

.pst_cta a{
    text-decoration: none;
}
.blg_title{
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 0;
}

.show_more, .hide_all{
    transform: rotate(90deg);
    margin: 5px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.show_more img, .hide_all img{
    width: 20px;
}

.show_more:hover,  .hide_all:hover{
    background-color:  #d2fdff26;
}

.blg_cta{
    margin-right: 17%;
}
.search_cont{
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.search_cont ul{
    margin: 0px;
}
.search_filtered{
    display: none;
}

/*----------------- Specific Page ------------*/
.spcfc_mn_cntnr{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px;
    padding: 10px;
    background-color: var(--light-blue);
    box-shadow: 4px 4px 20px var(--light-blue);
}
.spcfc_mn_div{
    flex-direction: column;
}
.feat_cont button{
    border: none;
    background-color: transparent;
    width: 100%;
}
.feat_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feat_cont button img{
    width: 70%;
    height: 254px;
    margin-bottom: 10px;
}
.auth_date{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.auth_date img{
    margin-right: 10px;
}

.auth_date .date p, .auth_date h4{
    margin: 0;
}
.parag h1, .parag h2, .parag h3, .parag strong{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parag p{
    font-size: 16px;
    font-weight: bold;
    text-indent: 50px;
}
.blg_spcfc_pst .verse{
    font: 500 italic 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 10%;
    margin: 0;
}
.blg_spcfc_pst .bible h2{
    margin-top: 0;
    align-self: flex-end;
    font: bold italic 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hide_section{
    display: none;
}
.pst_cmmnt{
    display: flex;
    flex-direction: column;
    background-color: var(----skyblue);
    padding: 10px;
    margin: 10px;
}
.pst_cmmnt p{
    font: italic 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 10%;
    margin: 0;
}
.pst_cmmnt p::before{
    content: "''";
}
.pst_cmmnt p::after{
    content: "''";
}
.pst_cmmnt h4{
    align-self: flex-end;
    margin: 0;
    font: bold italic 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cmmnts_sctn{
    margin-top: 40px;
    font: italic 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cmmnt_sbmt_mssg{
    text-align: center;
    margin-top: 60px;
    font: bold 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.add_cmmnt_sctn{
    margin-top: 50px;
}
.spcfc_ldr{
    display: none;
    align-self: center;
}

/*----------------- Add Comment Section ---------*/

#add_comment, #cntct_form, #feedback_form{
    display: flex;
    flex-direction: column;
}
.formError{
    display: none;
    color: red;
    font: bold 10px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;

}
#add_comment .required{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}
.required label{
    display: flex;
    flex-direction: column;
    font: bold 14px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    gap: 2px;
}
.required input{
    font: bold 14px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 345px;
    border: 1px solid var(--light-pink);
}
.required{
    margin-bottom: 15px;
}
.infoTxt{
    color: var(--light-pink);
    font: italic 10px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
}
#add_comment button, #cntct_form button, #feedback_form .submit{
    font: bold 16px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif; 
    width: 100px;
    align-self: center;
    height: 35px;
    border-radius: 20px;
    border: 1px solid var(--light-pink);
    box-shadow: 0px 0px 12px var(----skyblue);
    background-color: var(----skyblue);
}
#comments{
    border: 2px solid var(--light-pink);
    width: 100%;
    height: 90px;
}

#add_comment textarea, #cntct_form textarea, #feedback_form textarea{
    font: italic 14px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

/*----------------- Contact Page -----------*/
.cntct_mn_cntnr{
    margin: 20px;
}
.cntct_main{
    justify-content: center;
    display: flex;
}
.cntct_mn_div{
    max-width: fit-content;
    padding: 2%;
}
.required{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
#cntct_form textarea, #feedback_form textarea{
    width: 300px;
    height: 200px;
}
.mssg{
    display: flex;
    align-items: center;
    gap: 20px;
}
.mssg label{
    margin-bottom: 5px;
}
#cntct_form .required label{
    color: var(--light-blue);
}
.cntct_mn_div h3{
    font: bold 28px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif ;
    color: var(--light-pink);
}

/*----------------- Feedback Page -------------*/

.feedback_main{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#feedback_form{
    align-items: center;
}
#feedback_form p{
    text-align: center;
    font: bold 16px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif ;
    color: var(--light-blue);
}
.fdbck label{
    font: bold 14px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--light-blue);
}
.xprcn{
    margin-bottom: 0px;
}
.fdbck_emojis{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 2px;
}
#confuse label{
    font-size: 20px;
}
.fdbck_emojis button{
    background: none;
    border: none;
}

/*----------------- Loader --------------*/

.ldr{ 
    height: 15px;
    width: 105px;
    display: flex;
    align-items: center;
    position: relative;
}
.blg_post_cont .ldr{
    top: 120px;
}

.crl{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--light-pink);
    animation: move 500ms linear 0ms infinite;
    margin-right: 30px;
}
    
.crl:first-child{
    position: absolute;
    top:0;
    left:0;
    animation: grow 500ms linear 0ms infinite;
}

.crl:last-child{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
    from {transform: scale(0,0); opacity: 0;}
    to {transform: scale(1,1); opacity: 1;}
}

@keyframes move {
    from {transform: translateX(0px)}
    to {transform: translateX(45px)}
}

/*--------------------- About Page --------------*/
.abt_main_cntnr{
margin: 40px;
}
.abt_mn{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: var(--light-blue) ;
}

.abt_creator{
    text-align: center;
}

.abt_creator h4{
    font: bold 18px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}

.abt_creator h2{
    font: bold italic 22px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--light-pink);
}

.abt_mn img{
    max-width: 150px;
    border-radius: 50%;
}

.prps h2{
    margin: 2px;
    font: bold italic 22px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
}
.abt_mn p{
    font: normal 16px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 10%;
}
.abt_mn li{
    font: normal 16px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
}

/** ------------------- Footer ------------------**/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h6{
    font-size: 12px;
    margin-bottom: 5px;
}
.scl_md{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.scl_md img{
 width: 28px;
}

footer p{
    font: bold 14px 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
}

/*------------------ Media Queries ---------------*/

@media screen and (max-width: 1000px) {
    body{
        padding: 0 15%;
    }
    .site_logo img {
        max-width: 25%;
        max-height: 26%;
    }
    
}


@media screen and (max-width: 850px) {
    .hdr_nav{
        display: none;
    }
    .ham_menu img{
        display: block;
    }
    #hmbgr:checked + .hdr_nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--light-orange);
        right: -7px;
        top:-15px;
        place-items: flex-end;
        box-shadow: -7px 6px 7px #f9e6e4;
        z-index: 2;
    }
    .hdr_nav li a{
        font-size: 17px;;
    }
    .hdr_cntr::after{
        content: "";
        width: 10px;
    }
    .hdr_cntr{
        flex-direction: row-reverse;
    }
    body{
        padding: 0;
    }
    h1{
        text-align: center;
        font-size: 20px;
    }
    .blg_title{
        text-align: left;
        font-size: 20px;
    }
    .usr_prfl_pc img {
        width: 62px;
    }

    .blg_cta{
        margin-right: 12%;
    }
    .spcfc_mn_div{
        margin: 5%;
    }
    #modal{
        margin-top: 20%;
    }
}

@media screen and (max-width: 600px) {
    .srch_br input {
        width: 200px;
    }
    .srch_br {
        width: 200px;
    }
    .hdr_cntr::after{
        width: 35px;
    }
    .ham_menu img{
        width: 25px;
    }
    .hdr_nav li a{
        font-size: 13px;;
    }
    .ndx_mn_pst_cntnr{
        max-width: 100%;
    }
    .ndx_mn_div h1, .blg_title{
        font-size: 16px;
    }
    .usr_prfl_pc img {
        width: 50px;
    }
    .blg_pst_hd h4 {
        font-size: 16px;
    }
    .blg_cta{
        margin-right: 26%;
    }
    .spcfc_mn_div{
        margin: 8%;
    }
    .feat_img img {
        height: 87px;
    }
    .cntct_mn_div {
        margin: 20px;
        padding: 0px;
    }
    .blg_post_cont .ldr{
        top: 100px;
    }
    .user_info{
        padding:10px
    }
    .user_info h2, .user_info h3{
        font-size: 16px;
    }

    .user_info p{
        font-size: 12px;
    }
}

@media screen and (max-width: 360px){
    .srch_br input {
        width: 155px;
        right: 10px;
    }
    .srch_bttn_lbl{
        right: 38px;
        top: 2px;
    }
    .feat_cont button img{
        width: 80%;
        height: 100px;
    }
    .feat_cont button {
        width: 80%;
    }
    .usr_prfl_pc img {
        width: 35px;
    }
    .auth_date h4,  h1, .blg_title {
        font-size: 14px;
    }
    .publish_date, .date_date {
        font-size: 8px;
    }
    .blg_spcfc_pst .verse, .required label, .required input, #add_comment textarea,.pst_cmmnt h4  {
        font-size: 10px;
    }
    .blg_spcfc_pst .bible h2, .cmmnts_sctn h2, .blg_pst_hd h4 {
        font-size: 12px;
    }
    .parag h1, .parag h2, .parag h3, .parag strong,  .blg_paragraph h3,.blg_paragraph strong{
        font-size: 13px;
    }
    .parag p, .pst_cmmnt p{
        font-size: 11px;
    }
    .blg_title{
        margin: 10px 5px 0 5px;
        padding: 5px;
    }
    .blg_paragraph{
        padding: 0px;
        font-size: 10px;
    }
    .required {
        margin-bottom: 5px;
        gap:2px;
    }
    #cntct_form textarea {
        width: 235px;
        height: 145px;
    }
    .abt_mn{
        padding: 10px;
    }
    .abt_main_cntnr {
        margin: 15px;
    }
    .abt_mn img {
        max-width: 100px;
    }
    .feat_cont button img {
        width: 90%;
        height: 100px;
    }
    #feedback_form textarea{
        width: 235px;
        height: 200px;
    }
}